.page {
  display: flex;
  max-height: 80vh;
}
.page__image-wrap {
  position: relative;
  width: 50vw;
  max-width: 50vw;
}
.page__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page__content {
  width: 50vw;
  max-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.page__content-title {
  font-size: 100px;
}
.page__content-description {
  font-size: 20px;
}
